.bigCounter{
    text-align: center;
    background-color: #101010;
    
}
.bigCounter div{
    display: inline-block;
    font-size: 400px;
    line-height: 400px;
    background: #101010;
    color: red;
    padding: 10px;
    margin: 3px;
    
    

}
